body {
    background-color: #6100DE;
    color: white;
    max-width: 100%;
    font-family: Roboto;
    font-size: larger;
    padding-top: 50px;
    padding-bottom: 100px;
}

header {
    align-items: center;
    margin: 0 auto;
}

#header-image img {
    max-width: 80%;
    height: auto;
}

#header-image {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 30px;
}

h1, h2 {
    color: white;
    font-family: "Playfair Display";
    margin: 0;
}

p {
    font-family: 'Oswald', sans-serif;
    background-color: #AA00FF;
    padding: 20px;
    .black

{
    color: #000000;
}

}

a {
    color: white;
    text-decoration:;
}

    a:hover {
        color: darkorange;
        text-decoration: underline;
    }

.flex-column {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    justify-content: none;
}
